.container {
  display: flex;
  flex-direction: column;

  max-width: 1250px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: $desktop-width) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
