.main-nav__list {
  @include list-reset;
  display: flex;
}

.main-nav__item {
  &--about {
    margin-right: 41px;
  }

  &--price {
    margin-right: 58px;
  }
}

.main-nav__link {
  display: inline-block;

  font-size: 14px;
  line-height: 17px;
  color: $color-black;

  &--phone {
    padding-left: 36px;

    font-size: 18px;
    line-height: 32px;
    color: $color-red;
    text-decoration: underline;

    background-image: url("../img/icon-phone-shadow.svg");
    background-size: 30px;
    background-position: -4px 0;
    background-repeat: no-repeat;
  }

  &:hover {
    color: $color-red;
  }
}

@media (max-width: $desktop-width) {
  .main-nav {
    width: 100%;
    min-height: 568px;
    padding-top: 134px;

    background-color: #ffffff;
  }

  .main-nav__list {
    flex-direction: column;
  }

  .main-nav__item {
    width: 100%;
    margin-bottom: 47px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .main-nav__link {
    width: 100%;
    padding: 16px;

    font-size: 20px;
    font-weight: 600;

    background-color: #fbf8f8;
  }

  .main-nav__item--phone {
    display: none;
  }
}
