.tour {
  margin-bottom: 97px;
}

.tour__container {
  padding-top: 197px;
}

.tour__heading {
  width: 358px;
  margin-bottom: 30px;

  &::after {
    width: 228px;
  }
}

.tour__text {
  width: 328px;
  margin: 0;
  margin-bottom: 55px;

  letter-spacing: -0.45px;
}

.tour__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.tour__item {
  margin-bottom: 102px;

  line-height: 0;
}

@media (min-width: $desktop-width-only) {
  .tour__item:last-child {
    margin-left: 120px;
    margin-bottom: 0;
    margin-right: auto;
  }

  .tour__item:nth-last-child(2) {
    margin-bottom: 0;
    margin-left: auto;
  }
}

// Планшетная версия

@media (max-width: $desktop-width) {
  .tour__container {
    align-items: center;
    padding-top: 79px;
  }

  .tour__heading {
    width: auto;
    margin-bottom: 21px;
    padding: 0;
  }

  .tour__text {
    margin-bottom: 40px;

    text-align: center;
  }

  .tour__list {
    justify-content: center;
  }

  .tour__item {
    margin: 0;
  }
}

@media (min-width: 934px) and (max-width: $desktop-width) {
  .tour__item {
    margin-bottom: 20px;
    margin-left: 15px;

    &:nth-child(3n+1) {
      margin-left: 0;
    }

    &:nth-last-child(-n+3) {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 933px) {
  .tour__item {
    margin: 0;
    margin-bottom: 20px;

    &:nth-child(even) {
      margin-left: 30px;
    }

    &:last-child {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}
